/*  Selector universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  Selector de etiqueta */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/*  Selector por id */
#encabezado {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}

/*  Selector por clase */
.descripcion {
    font-size: 18px;
}

/*  Selector descendente */
.menu ul {
    list-style: none;
    background-color: #34495e;
    text-align: center;
    padding: 10px;
}

/*  Selector hijo directo (>) */
.menu > ul > li {
    display: inline-block;
    margin: 0 15px;
}

/*  Selector por clase adicional */
.activo {
    color: rgb(173, 238, 250);
}

/*  Selector descendente */
.menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/*  Selector combinado (etiqueta + clase) */
p.destacado {
    color: red;
    font-size: 18px;
}

/*  Selector general de hermanos (~) */
h3 ~ p {
    background-color: #dfe6e9;
    padding: 8px;
    margin-top: 5px;
}

/*  Selector adyacente (+) */
h3 + p {
    border: 2px solid #2980b9;
}

/*  Selector por atributo */
p[atributo-ejemplo="valor"] {
    background-color: #ffeaa7;
    padding: 10px;
    border: 1px solid #e17055;
    margin-top: 10px;
}

/*  Estilos adicionales */
.contenedor {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
}

.caja {
    border: 2px dashed #7f8c8d;
    padding: 10px;
    margin: 15px 0;
}

footer {
    text-align: center;
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;

}
